.home {
  min-height: 40vh;
}

.pageTitle {
  padding: 24px 32px 0;
  text-transform: uppercase;
}

.upcomingSection {
  padding: 0 32px 48px;
}

@media (max-width: 600px) {
  .pageTitle {
    padding: 16px 16px 0;
  }

  .upcomingSection {
    padding: 0 16px 32px;
  }
}
